.form-input {
  font-size: 15px;
  color: #222222;
  width: 100%;
  border: none;
  border-bottom: solid pink 1px;
  padding-bottom: 10px;

  background: none;
  z-index: 5;
}

.form-input::placeholder {
  color: #ffadc5;
}
.form-input:focus {
  outline: none;
}

.bottom-deco {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%; /* right로만 바꿔주면 오 - 왼 */
  background-color: #ffadc5;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transform: translateX(-50%);
  transition: 0.5s;
}

.input-label {
  position: absolute;
  color: #f8bfd1;

  font-size: 15px;
  bottom: 8px;
  transition: all 0.2s;
}

.form-input:focus ~ .input-label,
.form-input:valid ~ .input-label {
  font-size: 16px;
  bottom: 40px;
  color: #f998b5;
  font-weight: bold;
}

.form-input:focus ~ span,
.form-input:valid ~ span {
  width: 100%;
}

textarea {
  font-size: 15px;
  color: #222222;
  width: 100%;
  border: none;
  border-bottom: solid pink 1px;
  padding-bottom: 10px;
  background: none;
  z-index: 5;
  resize: none;
}

textarea:focus ~ .textarea-label,
textarea:valid ~ .textarea-label {
  font-size: 16px;
  top: -30px;
  color: #f998b5;
  font-weight: bold;
  background: none;
}

textarea:focus ~ span,
textarea:valid ~ span {
  width: 100%;
}

textarea::placeholder {
  color: #ffadc5;
}
textarea:focus {
  outline: none;
}

.textarea-label {
  position: absolute;
  color: #f8bfd1;

  font-size: 15px;
  top: 8px;
  transition: all 0.2s;
}
