.sender-input {
  font-size: 15px;
  color: #222222;
  width: 100%;
  border: none;
  border-bottom: 1px solid pink;
  padding-bottom: 10px;

  background: none;
  z-index: 5;
}

.sender-input::placeholder {
  color: #ffadc5;
}
.sender-input:focus {
  outline: none;
}

.bottom-deco {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%; /* right로만 바꿔주면 오 - 왼 */
  background-color: #ffadc5;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transform: translateX(-50%);
  transition: 0.5s;
}

.sender-label {
  position: absolute;
  color: #f8bfd1;

  font-size: 15px;
  bottom: 8px;
  transition: all 0.2s;
}

.sender-input:focus ~ .sender-label,
.sender-input:valid ~ .sender-label {
  font-size: 16px;
  bottom: 40px;
  color: #f998b5;
  font-weight: bold;
}

.sender-input:focus ~ .bottom-deco,
.sender-input:valid ~ .bottom-deco {
  width: 100%;
}

.message-input {
  font-size: 15px;
  color: #222222;
  width: 100%;
  border: none;
  border-bottom: 1px solid pink;
  padding-bottom: 10px;
  background: none;
  z-index: 5;
  resize: none;
}

.message-input:focus ~ .message-label,
.message-input:valid ~ .message-label {
  font-size: 16px;
  top: -30px;
  color: #f998b5;
  font-weight: bold;
  background: none;
}

.message-input:focus ~ .bottom-deco,
.message-input:valid ~ .bottom-deco {
  width: 100%;
}

.message-input::placeholder {
  color: #ffadc5;
}
.message-input:focus {
  outline: none;
}

.message-label {
  position: absolute;
  color: #f8bfd1;

  font-size: 15px;
  top: 8px;
  transition: all 0.2s;
}
