$svgMask: '/assets/heart.svg';
.snow-heart {
  position: absolute;
  z-index: auto;
  background-color: #eba0f8;
  -webkit-mask: url($svgMask);
  mask: url($svgMask);
  display: block;
  animation: rotation random(5000) + 4000ms linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}
